/* 
 * Text
 */

/* Text */
.w-text {
	padding: 0;
	}
	.w-text.has_text_color a {
		color: inherit;
		}
	.w-text i {
		display: inline-block;
		vertical-align: top;
		line-height: inherit;
		}
	.w-text.icon_atleft i {
		margin-right: .4em;
		}
	.w-text.icon_atright i {
		margin-left: .4em;
		}
	.w-text-value:empty {
		display: none;
		}
